<% if (success_msg || error_msg) { %>
    <div class="alert user-alert">
        <%= success_msg %>
        <%= error_msg %>
    </div>
<% } %>
<div class="title3">
    <p>Courses</p>
</div>
<div class="c-table">
    <div class="c-table__content">
        <table>
            <thead>
                <tr>
                    <th>Course ID</th>
                    <th>Course Name</th>
                    <th>Faculty</th>
                    <th>Semester</th>
                    <th>Year</th>
                    <th>Date Start</th>
                    <th>Time</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <% for( var i = 0; i < data1.length ; i++){%>
                    <tr>
                        <td>
                            <%= data1[i].courseid%>
                        </td>
                        <td>
                            <%= data1[i].coursename%>
                        </td>
                        <td>
                            <%= data1[i].type%>
                        </td>
                        <td>
                            <%= data1[i].semester%>
                        </td>
                        <td>
                            <%= data1[i].year%>
                        </td>
                        <td>
                            <%= (data1[i].date).toLocaleDateString('en-US')%>
                        </td>
                        <td>
                            <%= data1[i].time1%> -
                                <%= data1[i].time2%>
                        </td>
                        <td>
                            <div class="modal-adminbtn" id="six">
                                <a href="/teacher/listOfStudent/<%= data1[i]._id; %>" class="btn1 btn1--color2 studentList">
                                    <i class="material-icons">
                                        visibility
                                    </i>
                                    View
                                </a>
                            </div>
                        </td>
                    </tr>
                    <% }; %>
            </tbody>
        </table>
    </div>
</div>
<!-- Change to en-GB to date/month/year format-->


<!-- Teacher View Student List -->
<div id="modal-container6">
    <div class="modal-background">
        <div class="admin-content">
        
            <div class="title2">
                <h4>Student List</h4>
            </div>

            <div class="c-table">
                <div class="c-table__content">
                    <table>
                        <thead>
                            <tr>
                                <th>No</th>
                                <th>Student ID</th>
                                <th>Student Name</th>
                                <th>Student Email</th>
                                <th>Join Date</th>
                            </tr>
                        </thead>
                        <tbody>

                        </tbody>
                    </table>
                </div>
            </div>

            <div class="c-btn">
                <a href="" class="btn1 btn1--color2">
                    <i class="material-icons">
                    fast_forward
                    </i>
                    Start
                </a>
            </div>

        </div>
    </div>
</div>