<% if (success_msg || error_msg) { %>
    <div class="alert student-alert">
        <%= success_msg %>
        <%= error_msg %>
    </div>
<% } %>

<div class="c-table">
    <div class="title2">
        <h4>Courses</h4>
    </div>
    <div class="c-table__content">
        <table>
            <thead>
                <tr>
                    <th>Course ID</th>
                    <th>Course Name</th>
                    <th>Semester</th>
                    <th>Year</th>
                    <th>Date</th>
                    <th>Time</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <% for( var i = 0; i < result.length ; i++){%>
                    <tr>
                        <td>
                            <%= result[i].courseid%>
                        </td>
                        <td>
                            <%= result[i].coursename%>
                        </td>
                        <td>
                            <%= result[i].semester%>
                        </td>
                        <td>
                            <%= result[i].year%>
                        </td>
                        <td>
                            <%= (result[i].date).toLocaleDateString('en-US') %>  
                        </td>
                        <td>
                            <%= result[i].time1%> - <%= result[i].time2%>
                        </td>
                        <td>
                            <a href="/student/watch/<%= result[i]._id%>" type="submit" class="btn1 btn1--color2">View</a>
                            <a href="/student/deleteClass/<%= result[i]._id%>" type="submit" class="btn1 btn1--color4">Delete</a>
                        </td>
                    </tr>
                    <% }; %>
            </tbody>
        </table>
    </div>
    <div class="btn1 btn1--color3">
        <a href="/dashboard">Go Back</a>
    </div>
</div>