<% if (success_msg || error_msg) { %>
    <div class="alert user-alert">
        <%= success_msg %>
        <%= error_msg %>
    </div>
<% } %>

<section class="c-class">
    <div class="title3">
        <p>Class Available</p>
        <div id="btn_query">
            <button class="btn active" onclick="filterSelection('all')"> Show all</button>
            <button class="btn" onclick="filterSelection('IT')"> IT</button>
            <button class="btn" onclick="filterSelection('BA')"> BA</button>
            <button class="btn" onclick="filterSelection('EE')"> EE</button>
        </div>
    </div>
    <div class="c-class__content">
        <% for( var i = 0; i < data1.length ; i++){%>
            <div class="c-class__item <%= data1[i].type%>">
                <a href="/student/classInfor/<%= data1[i]._id %>" class="student-class"></a>
                <div class="c-class__meta">
                    <div class="photo">
                        <img src="<%= data1[i].classimage%>" alt="" />
                        <ul class="details">
                            <li class="author">
                                <a href="#">
                                    <% for(var j = 0 ; j < data1[i].inventory.length ; j++){ %>
                                        Dr.<%= data1[i].inventory[j].lname%>
                                    <% }; %>
                                </a>
                            </li>
                            <li class="date">
                                <%= (data1[i].date).toLocaleDateString('en-US') %>
                            </li>
                            <li class="tags">
                                <%= data1[i].time1%> - <%= data1[i].time2%>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="c-class__description">
                    <input type="hidden" class="inputtype" value="<%= data1[i]._id%>"/>
                    <h1><%= data1[i].coursename%></h1>
                    <h2>
                        <% for(var j = 0 ; j < data1[i].inventory.length ; j++){ %>
                            <%= data1[i].inventory[j].fname%> <%= data1[i].inventory[j].lname%>
                        <% }; %>
                    </h2>
                    <h3><%= data1[i].courseid%> (<%= data1[i].type%>) - <%= data1[i].credit%> credits</h3>
                    <p><%= data1[i].description%></p>
                    <div class="readmore-btn">
                        <a class="test" href="/student/registClass/<%= data1[i]._id; %>">Register</a>
                    </div>
                </div>
            </div>
        <% }; %>  
    </div>
</section>

<!-- Modal Contener Class Information
<div id="modal-container">
    <div class="modal-background">
        <div class="student-content">
            <h2>I'm a Modal</h2>
            <p>Hear me roar.</p>
            <svg class="modal-svg" xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" preserveAspectRatio="none">
                <rect x="0" y="0" fill="none" width="226" height="162" rx="3" ry="3"></rect>
            </svg>
        </div>
    </div>
</div> -->

<!--<section class="c-news">
    <div class="title3">
        <p>News Information</p>
    </div>
    <div class="c-news__content">
        <div class="c-news__item">
            <div class="c-news__text">
                <h2>News Title</h2>
                <a href="#_">
                    <p>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has
                        survived not only five centuries.
                    </p>
                </a>
            </div>
            <div class="readmore-icon">
                <a href="#_">
                    <i class="fas fa-angle-double-right"></i>
                </a>
            </div>
        </div>
        <div class="c-news__item">
            <div class="c-news__text">
                <h2>News Title</h2>
                <a href="#_">
                    <p>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has
                        survived not only five centuries.
                    </p>
                </a>
            </div>
            <div class="readmore-icon">
                <a href="#_">
                    <i class="fas fa-angle-double-right"></i>
                </a>
            </div>
        </div>
        <div class="c-news__item">
            <div class="c-news__text">
                <h2>News Title</h2>
                <a href="#_">
                    <p>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has
                        survived not only five centuries.
                    </p>
                </a>
            </div>
            <div class="readmore-icon">
                <a href="#_">
                    <i class="fas fa-angle-double-right"></i>
                </a>
            </div>
        </div>
        <div class="c-news__item">
            <div class="c-news__text">
                <h2>News Title</h2>
                <a href="#_">
                    <p>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has
                        survived not only five centuries.
                    </p>
                </a>
            </div>
            <div class="readmore-icon">
                <a href="#_">
                    <i class="fas fa-angle-double-right"></i>
                </a>
            </div>
        </div>
    </div>
</section> -->

<script>
   
    var dataClass = <%- JSON.stringify(dataClass) %>;
    $('.c-class__item').each(function(){
        for( var i = 0 ; i < dataClass.length ; i++){
            if( dataClass[i].courseid == $(this).find('.inputtype').val()){
                $(this).find('.test').text('Registed').addClass('registed');
            }
        }
    });
    
</script>


